html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    font-family: Avenir, Verdana, sans-serif;
    color: black;
    background-color: white;
}

header, footer, article {
    display: block;
}

h1 {
    font-size: 275%;
    font-weight: 600;
    line-height: 120%;
}

h2 {
    font-size: 245%;
    font-weight: 600;
    line-height: 115%;
}

p {
    font-size: 235%;
    line-height: 140%;
}

p.small {
    font-size: 225%;
    line-height: 110%;
}

a {
    color: navy;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

em {
    font-style: italic;
}

b, strong {
    font-weight: 600;
}

kbd {
    font-size: 125%;
}

img {
    background: transparent;
    display: block;
    margin-top: 2%;
    margin-bottom: 3%;
}