html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    font-family: Times New Roman, serif;
    color: black;
    background-color: white;
}

header, footer, article {
    display: block;
}

h1 {
    font-size: 200%;
    font-weight: 600;
    line-height: 150%;
}

h2 {
    font-size: 175%;
    font-weight: 600;
    line-height: 150%;
}

p {
    font-size: 150%;
    line-height: 150%;
    max-width: 1400px;
    word-break: normal;
}

p.small {
    font-size: 125%;
    line-height: 125%;
    max-width: 1400px;
    word-break: normal;
}


a {
    color: navy;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

kbd {
    font-size: 125%;
}

li {
    font-size: 150%;
    line-height: 150%;
    max-width: 1200px;
    word-break: normal;
}

img {
    background: transparent;
    display: block;
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 95%;
}