html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    font-family: Charter, Noto Serif, Times New Roman, serif;
    color: #222222;
    background-color: #fafafa;
}

header, footer, article, section {
    display: block;
}

header, article, div, section {
    margin-bottom: 50px;
}

h1 {
    font-size: 240%;
    font-weight: bold;
    line-height: 150%;
}

h2 {
    font-size: 180%;
    font-weight: bolder;
    line-height: 150%;
}

h3 {
    font-size: 150%;
    font-weight: bolder;
    line-height: 150%;
}

p {
    font-size: 140%;
    line-height: 175%;
    max-width: 900px;
}

p.small {
    font-size: 120%;
    line-height: 125%;
    max-width: 900px;
}

a {
    color: #040072;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

b, strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code { 
    font-family: Courier New, Courier, monospace;
}

blockquote {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    border-left: 10px solid lavender;
    padding-left: 15px;
    padding-right: 5px;
    font-family: Charter, Noto Serif, Times New Roman, serif;
    max-width: 850px;
    color: #222222;
    background-color: ghostwhite;
}

kbd {
    font-size: 100%;
}

li {
    max-width: 800px;
}

img {
    background: transparent;
    display: block;
    margin-top: 2%;
    margin-bottom: 3%;
    width: auto;
    max-width: 95%;
    height: auto;
}

table {
    max-width: 95%;
    border-collapse: collapse;
}

th, td {
    font-size: 120%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}